#menu {
    background-color: #1B2E4F;
    padding: 10px;
    color: white;
    text-align: center;
}

#menu-esquerda {
    display: inline;
    width: 50%;
    margin-right: 40%;
}

#menu-direita {
    display: inline;
    width: 50%;
    margin-left: 40%;
}

#menu-direita-login {
    display: inline;
    margin-left: 60%;
}

#menu a {
    color: white;
}

#footer {
    background-color: #1B2E4F;
}

.card-header {
    background-color: #1B2E4F;
    color: white;
}

.navigation {
    text-align: center;
}

@media (max-width: 1024px) {
    #barra-logos {
        display: none;
    }
    .btn-toggle {
        display: block;
    }
}